.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 85vh;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 30px;
}

.title {
  text-align: center;
  font-weight: 400;
}
